/* Estilos generales */
body{
    background-color: rgb(119, 119, 119) !important;
}
.cart a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.contenedor {
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
}

.sidebar { 
    color: white;
    padding-right: 30px;
}
.sidebarBlock{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.sidebarBlock h2{
    text-align: center !important;
}
.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.cards {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card h5 {
font-size: 18px;
margin: 10px 0;
}
.card button {
margin-top: 10px;
}
.card img {
    max-height: 150px;
    object-fit: cover;
}

.card .btn {
margin-top: 10px;
}
.list-group{
    padding: 0 90px;
}
