*{
    box-sizing: border-box;
    margin: 0;
}
li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    background-color: #2F2C2C;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 80px;
    color: black;
}
nav .nav_opciones{
    padding: 10px 20px;
    background-color: #C2E7FF;
    border-radius: 20px;
}
nav .logo{
    width: 40px;
}
nav a{
    padding: 0 10px 0 10px;
    text-decoration: none;
    list-style: none;
    color: black;
}
nav i{
    color: white;
}
.block{
    height: 400px;
}


footer{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 0;
}
footer .block{
    
}
footer ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
footer li{
    font-size: 20px;
    margin-bottom: 20px;
}
footer img{
    width: 150px;
}