body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0 !important;
}
a{
    text-decoration: none !important;
}
nav{
    display: flex;
    background-color: #2F2C2C;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 80px;
    color: black;
    font-weight: bold;
}
nav .nav_opciones{
    padding: 10px 20px;
    background-color: #C2E7FF;
    border-radius: 20px;
}
nav .logo{
    width: 70px;
}
nav a{
    padding: 0 10px 0 10px;
    text-decoration: none;
    list-style: none;
    color: black;
}
nav i{
    color: white;
}
.icons_nav i{
    padding: 5px;
}
footer{
    background-color: #2EA0E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
footer ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
footer li{
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
footer img{
    width: 150px;
}